### ssh config file modify
- name: Enable password authentication ssh
  replace: >-
    dest='/etc/ssh/sshd_config'
    regexp='PasswordAuthentication no'
    replace='PasswordAuthentication yes'

- name: Comment out ssh local configration
  lineinfile: >-
    dest='/etc/ssh/ssh_config'
    state=present
    regexp='SendEnv LANG LC_*'
    line='#SendEnv LANG LC_*'

- name: Restart ssh Service
  service:
    name: ssh
    state: restarted

### Install Packages
- name: Install nginx
  apt:
    name: nginx
    state: latest
    update_cache: yes

- name: Service nginx enable
  service:
    name: nginx
    enabled: yes

- name: Install php-fpm
  apt:
    name: php-fpm
    state: latest

- name: Install mysql packages
  apt: name={{ item }} state=installed
  with_items:
    - mysql-server
    - libmysqlclient-dev

- name: Add apt repository
  apt_repository: repo='ppa:brightbox/ruby-ng'

- name: Install other packages
  apt: name={{ item }} state=installed
  with_items:
    - ruby2.3
    - ruby2.3-dev
    - ruby-bundler
    - nodejs
    - libcurl4-openssl-dev
    - apache2-dev
    - libapr1-dev
    - libaprutil1-dev
    - libxml2
    - libxslt-dev
    - build-essential
    - patch
    - libmysqlclient-dev
    - libmagickwand-dev
    - imagemagick
    - libsqlite3-dev

### Set Application Code
- name: Create Directory
  file:
    path: "{{ apps_root }}"
    state: directory
    owner: "{{ apps_owner }}"
    group: "{{ apps_group }}"
    mode: "{{ apps_mode }}"

- name: Create User (bootcamp2017)
  user:
    name: "{{ user_name }}"
    groups: "{{ user_group }},sudo"
    shell: "{{ user_shell }}"
    password: "{{ user_pass }}"

- name: Create bootcamp2017/.ssh directory
  file:
    path: "/home/{{ user_name }}/.ssh"
    state: directory
    owner: "{{ user_name }}"
    group: "{{ user_group }}"
    mode: 0755

- name: Add authorized_keys to bootcamp2017
  copy:
    src: files/authorized_keys
    dest: "/home/{{ user_name }}/.ssh/authorized_keys"
    owner: "{{ user_name }}"
    group: "{{ user_group }}"
    mode: 0600

- name: Copy mysql.cnf
  copy:
    src: files/my.cnf
    dest: /etc/mysql/my.cnf

- name: Restart mysql
  service:
    name: mysql
    state: restarted

- name: Git clone app code
  git:
    repo: "{{ apps_repo }}"
    dest: "{{ apps_dir }}"
    clone: yes
    force: yes

- name: Change directory owner
  file:
    path: "{{ apps_root }}"
    owner: "{{ apps_owner }}"
    group: "{{ apps_group }}"
    recurse: yes
