# Wget Installer of imagemagick
- name: Get imagemagick Installer
  become: True
  get_url:
    url: "{{ imag_url }}{{ imag_file }}"
    dest: "{{ imag_path }}"

- name: Extract imagemagick Installer
  become: True
  unarchive:
    src: "{{ imag_path }}/{{imag_file}}"
    dest: "{{ imag_path }}"
    remote_src: True

- name: Install imagemagick
  become: True
  shell: >
    {{ item }}
    chdir={{ imag_path }}/{{ imag_dir }}
    creates={{ imag_created_dir }}
  with_items:
    - "./configure --prefix=/opt/imagemagick"
    - make
    - make install

- name: Create symbolic link
  become: True
  file:
    src: "{{ imag_ln_src }}"
    dest: "{{ imag_ln_dest }}"
    state: link
