# Wget Installer of imagemagick
- name: Get imagemagick Installer
  become: True
  get_url:
    url: "{{ imag_url }}{{ imag_file }}"
    dest: "{{ imag_path }}"

- name: Extract imagemagick Installer
  become: True
  unarchive:
    src: "{{ imag_path }}/{{imag_file}}"
    dest: "{{ imag_path }}"
    remote_src: True

- name: Configure Installer
  become: True
  shell: >
    {{ item }}
    chdir={{ imag_path }}/{{ imag_dir }}
    creates={{ imag_created_dir }}
  with_items:
    - "./configure --prefix=/opt/imagemagick"
    - make
    - make install
